.foods-container {
  position: relative;
}
.meal-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.cart-container {
  background-color: rgb(2, 53, 53);
  padding: 10px;
  position: sticky !important;
  top: 0;
}
@media only screen and (max-width: 600px) {
  .meal-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 700px) {
  .meal-container {
    grid-template-columns: 1fr 1fr;
  }
}
